<section class="custom-html">
    {{- section.settings.liquid -}}
</section>

{% schema %}
{
  "name": "Custom Liquid",
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ],
  "settings": [
    {
      "type": "liquid",
      "label": "Custom Liquid",
      "id": "liquid"
    }
  ]
}
{% endschema %}