<header>
    <x-grid columns="1" ji="{{ section.settings.alignment }}" ai="center">
        <x-cell>
            <style>:root{ --logoImageSize:{{ section.settings.logoImageSize }}px }</style>
            {%- assign img = section.settings.logo -%}
            {%- if img != blank -%}
                {{ img | image_url: width: 600 | image_tag: widths: '200,400,600', sizes: '(max-width: 777px) 100vw, 777px', class: 'logo', loading: 'lazy', alt: shop.name | escape }}
            {%- else -%}
                <div class="logo"><h2>{{ shop.name }}</h2></div>
            {%- endif -%}
        </x-cell>
    </x-grid>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logoImageSize",
      "min": 20,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "Size",
      "default": 20
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "default": "start",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    }
  ]
}
{% endschema %}