<section class="password-content">
<x-grid columns="2" columns-s="1">
{%- for block in section.blocks -%}
{%- case block.type -%}
{%- when 'image' -%}
	{%- liquid 
		if block.settings.fullwidth1
			assign span1 = 'span="row"'
		endif
	-%}

	<x-cell class="banner center-axyz" {{ span1 }}>
		<picture>
		{%- liquid 
            assign img = block.settings.hero
            if img != nil
                render 'global-img' img: img, alt: section.settings.title, lazyload: true
            else
                echo 'lifestyle-1' | placeholder_svg_tag: 'svg-placeholder'
            endif 
        -%}
	 	</picture>
	</x-cell>

{%- when 'content' -%}
	{%- liquid 
		if block.settings.fullwidth2
			assign span2 = 'span="row"'
		endif
	-%}

	<x-cell class="content center-axyz" {{ span2 }}>
	    {%- liquid 
            if block.settings.motto != blank
                echo block.settings.motto
            else
                echo shop.password_message
            endif 
        -%}
	</x-cell>

{%- when 'newsletter' -%}
	{%- liquid 
		if block.settings.fullwidth3
			assign span3 = 'span="row"'
		endif
	-%}

	<x-cell class="newsletter center-axyz" {{ span3 }}>
		<x-flex direction="column" class="newsletter-block">
			<x-cell><p>{{ block.settings.footerNewsletterTitle }}</p></x-cell>
			<x-cell>{%- render 'global-newsletter' -%}</x-cell>
		</x-flex>
	</x-cell>

{%- endcase -%}
{%- endfor -%}
</x-grid>
</section>

{% schema %}
{
  "name": "Content",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "image",
      "name": "Banner",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "hero",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "fullwidth1",
          "label": "Full width",
          "default": false
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 2,
      "settings": [
        {
          "type": "richtext",
          "id": "motto",
          "label": "Your message",
          "info": "Leave blank to display [Password protection](https://shopify.com/admin/online_store/preferences) message."
        },
        {
          "type": "checkbox",
          "id": "fullwidth2",
          "label": "Full width",
          "default": false
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Footer newsletter",
          "info": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)"
        },
        {
          "type": "text",
          "id": "footerNewsletterTitle",
          "label": "Heading",
          "default": "Get 10% off your next purchase. Subscribe to our newsletter."
        },
        {
          "type": "checkbox",
          "id": "fullwidth3",
          "label": "Full width",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}